Repository DeltaXswe/cc4d: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end, api-rilevazioni

debug level
  Produlytics/ui/back-end/src/main/resources/application.properties
Due: back-end

file di configurazione debug intellij
  Produlytics/ui/back-end/.run/back-end-ui [spring-boot_run].run.xml
Due: back-end

we did it guys debug is no more
  Produlytics/ui/back-end/.run/back-end-ui [spring-boot_run].run.xml
Due: back-end

clin
  Produlytics/ui/back-end/.run/back-end-ui [spring-boot_run].run.xml
Due: back-end

Refactor della mega-query dei limiti
  Produlytics/api-rilevazioni/src/main/java/it/deltax/produlytics/api/detections/adapters/DetectionsAdapter.java
  Produlytics/api-rilevazioni/src/main/java/it/deltax/produlytics/api/repositories/CharacteristicRepository.java
  Produlytics/api-rilevazioni/src/main/java/it/deltax/produlytics/api/repositories/LimitsEntity.java
  Produlytics/api-rilevazioni/src/main/java/it/deltax/produlytics/api/repositories/MeanStddevEntity.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/devices/adapters/UnarchivedCharacteristicAdapter.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/repositories/CharacteristicRepository.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/repositories/MeanStddevEntity.java
Due: back-end, api-rilevazioni

Rimuovi assegnazione inutile
  Produlytics/api-rilevazioni/src/main/java/it/deltax/produlytics/api/detections/adapters/DetectionsAdapter.java
Due: api-rilevazioni

Format code
  Produlytics/api-rilevazioni/src/main/java/it/deltax/produlytics/api/detections/adapters/DetectionsAdapter.java
Due: api-rilevazioni

init modifiche login frontend
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/security/LoginController.java
  Produlytics/ui/front-end/src/app/model/login/login-response.ts
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
Due: back-end, front-end

lol ez af
  Produlytics/ui/back-end/.run/back-end-ui [spring-boot_run].run.xml
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/security/LoginController.java
Due: back-end

mod frontend ma non sono convinto
  Produlytics/ui/front-end/src/app/guards/admin-guard.ts
  Produlytics/ui/front-end/src/app/guards/authenticated-user-guard.ts
  Produlytics/ui/front-end/src/app/guards/login-guard.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
  Produlytics/ui/front-end/src/app/model/login/login-abstract.service.ts
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
  Produlytics/ui/front-end/src/app/test/account/fake-account.service.ts
Due: front-end

Revert "mod frontend ma non sono convinto"
  Produlytics/ui/front-end/src/app/guards/admin-guard.ts
  Produlytics/ui/front-end/src/app/guards/authenticated-user-guard.ts
  Produlytics/ui/front-end/src/app/guards/login-guard.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
  Produlytics/ui/front-end/src/app/model/login/login-abstract.service.ts
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
  Produlytics/ui/front-end/src/app/test/account/fake-account.service.ts
Due: front-end

il ritorno del re
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/exceptions/BusinessExceptionHandler.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/exceptions/ErrorType.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/security/LoginController.java
Due: back-end

gestione redirecting guardie
  Produlytics/ui/front-end/src/app/guards/admin-guard.ts
  Produlytics/ui/front-end/src/app/guards/authenticated-user-guard.ts
  Produlytics/ui/front-end/src/app/guards/login-guard.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
  Produlytics/ui/front-end/src/app/model/login/login-abstract.service.ts
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
Due: front-end

mor log
  Produlytics/ui/front-end/src/app/guards/login-guard.ts
Due: front-end

oopsy daisy
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
Due: front-end

console log
  Produlytics/ui/front-end/src/app/guards/admin-guard.ts
  Produlytics/ui/front-end/src/app/guards/authenticated-user-guard.ts
  Produlytics/ui/front-end/src/app/guards/login-guard.ts
Due: front-end

we did it guys interceptor is no more
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/security/SecurityConfiguration.java
  Produlytics/ui/front-end/src/app/app.module.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.spec.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
  Produlytics/ui/front-end/src/app/model/login/login-response.ts
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
Due: back-end, front-end

tolgo configurazione per test
  Produlytics/ui/back-end/.run/back-end-ui [spring-boot_run].run.xml
Due: back-end

sistemati alcuni test
  Produlytics/ui/front-end/src/app/guards/authenticated-user-guard.ts
  Produlytics/ui/front-end/src/app/guards/guards.spec.ts
  Produlytics/ui/front-end/src/app/main/modify-pw/modify-pw.component.spec.ts
  Produlytics/ui/front-end/src/app/model/login/login-abstract.service.ts
  Produlytics/ui/front-end/src/app/model/login/login-response.ts
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
  Produlytics/ui/front-end/src/app/test/account/fake-account.service.ts
Due: front-end

precisazioni
  Produlytics/ui/front-end/src/app/guards/admin-guard.ts
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
Due: front-end

errore
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/security/LoginController.java
Due: back-end

mobile frend
  Produlytics/ui/front-end/src/app/admin/accounts/account-form-dialog/account-form-dialog.component.css
  Produlytics/ui/front-end/src/app/admin/accounts/account-form-dialog/account-form-dialog.component.html
  Produlytics/ui/front-end/src/app/admin/accounts/accounts.component.html
  Produlytics/ui/front-end/src/app/admin/devices/device-detail/device-detail.component.html
  Produlytics/ui/front-end/src/app/admin/devices/devices.component.html
  Produlytics/ui/front-end/src/app/admin/devices/new-characteristic-dialog/new-characteristic-dialog.component.css
  Produlytics/ui/front-end/src/app/admin/devices/new-device/new-device.component.html
  Produlytics/ui/front-end/src/app/admin/devices/update-characteristic-dialog/update-characteristic-dialog.component.css
  Produlytics/ui/front-end/src/app/app.theme.scss
  Produlytics/ui/front-end/src/app/components/characteristic-form/characteristic-form.component.html
  Produlytics/ui/front-end/src/app/layout/toolbar/toolbar.component.html
  Produlytics/ui/front-end/src/app/main/login/login.component.html
Due: front-end

local -> session
  Produlytics/ui/front-end/src/app/guards/guards.spec.ts
  Produlytics/ui/front-end/src/app/layout/toolbar/toolbar.component.spec.ts
Due: front-end

wops
  Produlytics/ui/front-end/src/app/guards/guards.spec.ts
Due: front-end

helo
  Produlytics/ui/front-end/src/app/app.component.ts
  Produlytics/ui/front-end/src/app/guards/authenticated-user-guard.ts
  Produlytics/ui/front-end/src/app/guards/guards.spec.ts
Due: front-end

record invece di map
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/security/LoginController.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/security/SessionInfo.java
Due: back-end

frontend allineato
  Produlytics/ui/front-end/src/app/guards/guards.spec.ts
  Produlytics/ui/front-end/src/app/main/login/login.component.spec.ts
  Produlytics/ui/front-end/src/app/main/modify-pw/modify-pw.component.spec.ts
  Produlytics/ui/front-end/src/app/model/login/login-abstract.service.ts
  Produlytics/ui/front-end/src/app/model/login/login-response.ts
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
  Produlytics/ui/front-end/src/app/model/login/session-info.ts
  Produlytics/ui/front-end/src/app/test/account/fake-account.service.ts
Due: front-end

Backend: muovi endpoint per i dati dell'utente a /accounts/info
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/accounts/business/domain/AccountInfo.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/accounts/web/AccountController.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/security/LoginController.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/security/SecurityConfiguration.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/security/SessionInfo.java
Due: back-end

Rimuovi ErrorType.AUTHENTICATION
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/exceptions/BusinessExceptionHandler.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/exceptions/ErrorType.java
Due: back-end

Aggiungi test per GetAccountInfo
  Produlytics/ui/back-end/pom.xml
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/integration/AccountTests.java
Due: back-end

cose
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
Due: front-end

test passano frontend dopo pranzo faccio prove
  Produlytics/ui/front-end/src/app/admin/accounts/account-form-dialog/account-form-dialog.component.ts
  Produlytics/ui/front-end/src/app/admin/accounts/accounts.component.ts
  Produlytics/ui/front-end/src/app/guards/abstract-authentication-guard.ts
  Produlytics/ui/front-end/src/app/guards/admin-guard.ts
  Produlytics/ui/front-end/src/app/guards/authenticated-user-guard.ts
  Produlytics/ui/front-end/src/app/guards/guards.spec.ts
  Produlytics/ui/front-end/src/app/guards/login-guard.ts
  Produlytics/ui/front-end/src/app/layout/toolbar/toolbar.component.ts
  Produlytics/ui/front-end/src/app/main/modify-pw/modify-pw.component.spec.ts
  Produlytics/ui/front-end/src/app/main/modify-pw/modify-pw.component.ts
  Produlytics/ui/front-end/src/app/model/login/login-abstract.service.ts
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
  Produlytics/ui/front-end/src/app/test/account/fake-account.service.ts
Due: front-end

lmao
  Produlytics/ui/front-end/src/app/guards/guards.spec.ts
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
  Produlytics/ui/front-end/src/app/model/login/session-info.ts
Due: front-end

adios, amigos
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
Due: front-end

ops
  Produlytics/ui/front-end/src/app/admin/admin-routing.module.ts
  Produlytics/ui/front-end/src/app/test/account/fake-account.service.ts
Due: front-end

GODOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
  Produlytics/ui/front-end/src/app/guards/login-guard.ts
  Produlytics/ui/front-end/src/app/model/interceptor.service.ts
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
Due: front-end

interceptor a metà
  Produlytics/ui/front-end/src/app/app.module.ts
  Produlytics/ui/front-end/src/app/guards/login-guard.ts
  Produlytics/ui/front-end/src/app/model/interceptor.service.ts
Due: front-end

rename
  Produlytics/ui/front-end/src/app/app.module.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor.service.ts
Due: front-end

è stato molto veloce sistemare questa cosa
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
Due: front-end

dopo questo intervento
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
Due: front-end

Path conditions:
  back-end: any of: Produlytics/ui/back-end/
  front-end: any of: Produlytics/ui/front-end/
  api-rilevazioni: any of: Produlytics/api-rilevazioni/
