Repository DeltaXswe/cc4d: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end, api-rilevazioni

Fix badge nel README
  README.md
Due: none

Filtra i file da coprire coi test in angular.json
  Produlytics/ui/front-end/angular.json
Due: front-end

interceptor 100%
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.spec.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
  Produlytics/ui/front-end/src/app/test/utils.ts
Due: front-end

fix interceptor + guards tests
  Produlytics/ui/front-end/src/app/admin/devices/devices.component.spec.ts
  Produlytics/ui/front-end/src/app/guards/authenticated-user-guard.ts
  Produlytics/ui/front-end/src/app/guards/guards.spec.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.spec.ts
  Produlytics/ui/front-end/src/app/test/utils.ts
Due: front-end

Commenti ai service già che ci sono
  Produlytics/ui/front-end/src/app/main/date-picker-dialog/date-picker-dialog.component.html
  Produlytics/ui/front-end/src/app/model/chart/chart.service.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
  Produlytics/ui/front-end/src/app/model/modify-pw/modify-pw.service.ts
Due: front-end

import inutilizzati
  Produlytics/ui/front-end/src/app/guards/admin-guard.ts
  Produlytics/ui/front-end/src/app/guards/authenticated-user-guard.ts
  Produlytics/ui/front-end/src/app/guards/login-guard.ts
  Produlytics/ui/front-end/src/app/layout/toolbar/toolbar.component.spec.ts
  Produlytics/ui/front-end/src/app/layout/toolbar/toolbar.component.ts
  Produlytics/ui/front-end/src/app/main/chart/chart.component.spec.ts
  Produlytics/ui/front-end/src/app/main/chart/chart.component.ts
  Produlytics/ui/front-end/src/app/main/login/login.component.spec.ts
  Produlytics/ui/front-end/src/app/main/login/login.component.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.spec.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
  Produlytics/ui/front-end/src/app/model/login/login.service.spec.ts
  Produlytics/ui/front-end/src/app/model/modify-pw/modify-pw.service.spec.ts
Due: front-end

rinomina
  Produlytics/ui/front-end/src/app/guards/guards.spec.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.spec.ts
Due: front-end

fix
  Produlytics/ui/front-end/src/app/admin/accounts/account-form-dialog/account-form-dialog.component.spec.ts
  Produlytics/ui/front-end/src/app/admin/accounts/accounts.component.spec.ts
  Produlytics/ui/front-end/src/app/admin/accounts/accounts.data-source.spec.ts
  Produlytics/ui/front-end/src/app/admin/devices/device-detail/device-detail.component.spec.ts
  Produlytics/ui/front-end/src/app/admin/devices/device.data-source.spec.ts
  Produlytics/ui/front-end/src/app/admin/devices/devices.component.spec.ts
  Produlytics/ui/front-end/src/app/app.module.ts
  Produlytics/ui/front-end/src/app/main/chart/chart.component.spec.ts
  Produlytics/ui/front-end/src/app/main/date-picker-dialog/date-picker-dialog.component.spec.ts
  Produlytics/ui/front-end/src/app/main/modify-pw/modify-pw.component.spec.ts
  Produlytics/ui/front-end/src/app/test/utils.ts
Due: front-end

eh???????????????????????
  Produlytics/ui/front-end/src/app/admin/devices/new-characteristic-dialog/new-characteristic-dialog.component.spec.ts
  Produlytics/ui/front-end/src/app/admin/devices/update-characteristic-dialog/update-characteristic-dialog.component.spec.ts
Due: front-end

clean
  Produlytics/ui/front-end/src/app/admin/devices/update-characteristic-dialog/update-characteristic-dialog.component.spec.ts
Due: front-end

documentazione PB
  PB/Documentazione Esterna/Verbali/VE_2022-02-21.pdf
  PB/Documentazione Esterna/Verbali/VE_2022-03-15.pdf
  PB/Documentazione Esterna/Verbali/VE_2022-04-26.pdf
  PB/Documentazione Esterna/glossario_v2.0.pdf
  PB/Documentazione Esterna/manuale_utente_v1.0.pdf
  PB/Documentazione Esterna/piano_di_progetto_v2.0.pdf
  PB/Documentazione Esterna/piano_di_qualifica_v2.0.pdf
  PB/Documentazione Interna/Verbali/VI_2022-02-18.pdf
  PB/Documentazione Interna/Verbali/VI_2022-02-22.pdf
  PB/Documentazione Interna/Verbali/VI_2022-03-08.pdf
  PB/Documentazione Interna/Verbali/VI_2022-03-20.pdf
  PB/Documentazione Interna/Verbali/VI_2022-05-01.pdf
  PB/Documentazione Interna/norme_di_progetto_v2.0.pdf
  PB/lettera_di_presentazione.pdf
  PB/lettera_di_presentazione_PB.pdf
Due: none

documentazione PB
  PB/Documentazione Interna/Verbali/VI_2022-02-27.pdf
  PB/Documentazione Interna/Verbali/VI_2022-04-08.pdf
  PB/Documentazione Interna/Verbali/VI_2022-04-23.pdf
  PB/Documentazione Interna/Verbali/VI_2022-05-01.pdf
Due: none

Readme suggestions
  README.md
Due: none

Apply suggestions from code review
  README.md
Due: none

lettera di presentazione
  PB/lettera_di_presentazione_PB.pdf
Due: none

alcuni test
  Produlytics/ui/front-end/src/app/main/selection/selection-data-source/selection.data-source.spec.ts
  Produlytics/ui/front-end/src/app/main/selection/selection.component.html
  Produlytics/ui/front-end/src/app/main/selection/selection.component.spec.ts
  Produlytics/ui/front-end/src/app/main/selection/selection.component.ts
  Produlytics/ui/front-end/src/app/test/utils.ts
Due: front-end

questo test non va
  Produlytics/ui/front-end/src/app/main/selection/selection-data-source/selection.data-source.spec.ts
Due: front-end

tmp
  Produlytics/ui/front-end/src/app/main/selection/selection-data-source/selection.data-source.spec.ts
Due: front-end

unit test datasource
  Produlytics/ui/front-end/src/app/main/selection/selection-data-source/selection.data-source.spec.ts
Due: front-end

test integrazione selection component
  Produlytics/ui/front-end/src/app/main/selection/selection-data-source/selection.data-source.ts
  Produlytics/ui/front-end/src/app/main/selection/selection.component.spec.ts
  Produlytics/ui/front-end/src/app/test/utils.ts
Due: front-end

expectations
  Produlytics/ui/front-end/src/app/admin/accounts/accounts.component.spec.ts
Due: front-end

instapatch
  Produlytics/ui/front-end/src/app/main/selection/selection-data-source/selection.data-source.ts
Due: front-end

Fix sampleSize non settato, no rilevazioni e multiple macchine esistenti
  Produlytics/api-rilevazioni/src/main/java/it/deltax/produlytics/api/repositories/CharacteristicRepository.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/business/CharacteristicConstraints.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/business/services/InsertCharacteristicService.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/repositories/CharacteristicRepository.java
Due: back-end, api-rilevazioni

Gestisci caso in cui l'utente inserisca 0 come sampleSize
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/business/services/InsertCharacteristicService.java
Due: back-end

Formatta codice e aggiungi check se l'utente inserisce 0
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/business/CharacteristicConstraints.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/business/services/InsertCharacteristicService.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/business/services/UpdateCharacteristicService.java
Due: back-end

Usa / per le cartelle nei Dockerfile
  Produlytics/api-rilevazioni/Dockerfile
  Produlytics/ui/Dockerfile
Due: api-rilevazioni

Test + bugfix
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/adapters/ConvertCharacteristic.java
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/integration/UpdateCharacteristicTests.java
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/unit/UpdateCharacteristicServiceTest.java
Due: back-end

xsfr
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
Due: front-end

paths
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/accounts/web/AdminsAccountsController.java
Due: back-end

aggiunta gestione errori e miglioria all'usabilità
  Produlytics/ui/front-end/src/app/admin/accounts/accounts.component.html
  Produlytics/ui/front-end/src/app/admin/accounts/accounts.component.ts
  Produlytics/ui/front-end/src/app/admin/accounts/accounts.module.ts
Due: front-end

center admin
  Produlytics/ui/front-end/src/app/admin/accounts/accounts.component.html
Due: front-end

closes #69 closes #70 closes #72
  Produlytics/ui/front-end/src/app/admin/devices/device-detail/device-detail.component.html
  Produlytics/ui/front-end/src/app/admin/devices/devices.component.html
Due: front-end

closes #73
  Produlytics/ui/front-end/src/app/main/date-picker-dialog/date-picker-dialog.component.ts
  Produlytics/ui/front-end/src/app/model/chart/chart.service.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
Due: front-end

closes #76
  Produlytics/ui/front-end/src/app/admin/accounts/account-form-dialog/account-form-dialog.component.ts
  Produlytics/ui/front-end/src/app/admin/accounts/accounts.component.ts
  Produlytics/ui/front-end/src/app/admin/devices/device-detail/device-detail.component.ts
  Produlytics/ui/front-end/src/app/admin/devices/devices.component.ts
  Produlytics/ui/front-end/src/app/admin/devices/new-device/new-device.component.ts
  Produlytics/ui/front-end/src/app/admin/devices/update-characteristic-dialog/update-characteristic-dialog.component.ts
Due: front-end

closes #77
  Produlytics/ui/front-end/src/app/admin/devices/device-detail/device-detail.component.ts
Due: front-end

ci va l'id quando si update
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/adapters/AdminDeviceAdapter.java
  Produlytics/ui/front-end/src/app/admin/devices/device-detail/device-detail.component.ts
Due: back-end, front-end

hihihi
  Produlytics/ui/front-end/src/app/admin/devices/devices.component.ts
  Produlytics/ui/front-end/src/app/model/admin-device/device.service.ts
Due: front-end

alla rovescia!
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/adapters/AdminDeviceAdapter.java
  Produlytics/ui/front-end/src/app/admin/accounts/account-form-dialog/account-form-dialog.component.html
  Produlytics/ui/front-end/src/app/admin/devices/new-characteristic-dialog/new-characteristic-dialog.component.html
  Produlytics/ui/front-end/src/app/admin/devices/update-characteristic-dialog/update-characteristic-dialog.component.html
  Produlytics/ui/front-end/src/app/main/date-picker-dialog/date-picker-dialog.component.html
  Produlytics/ui/front-end/src/app/main/modify-pw/modify-pw.component.html
Due: back-end, front-end

di nuovo!
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/adapters/AdminDeviceAdapter.java
Due: back-end

vabbè webstorm mi da un errore ma non esiste closes #78 closes #79
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
Due: front-end

Path conditions:
  back-end: any of: Produlytics/ui/back-end/
  front-end: any of: Produlytics/ui/front-end/
  api-rilevazioni: any of: Produlytics/api-rilevazioni/
