Repository DeltaXswe/cc4d: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end, api-rilevazioni

Aggiungi un altra / agli endpoint e rimuovi un println
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/web/AdminsDevicesController.java
Due: back-end

Fix tests
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/integration/AdminAccountsTests.java
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/integration/AdminDevicesTests.java
Due: back-end

Ordine consistente di archived e deactivated
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/adapters/AdminDeviceAdapter.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/business/domain/DetailedDevice.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/business/domain/Device.java
Due: back-end

Fix warning
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/adapters/AdminDeviceAdapter.java
Due: back-end

Altri .string -> .json
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/integration/AdminDevicesTests.java
Due: back-end

Spring Security logout - fixes #71
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/security/SecurityConfiguration.java
Due: back-end

commento spring
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
Due: front-end

closes #74 #75 #81
  Produlytics/ui/front-end/src/app/test/account/fake-account.service.ts
  Produlytics/ui/front-end/src/app/test/device/fake-device.service.ts
  Produlytics/ui/front-end/src/app/test/utils.ts
Due: front-end

Apply suggestions from code review
  Produlytics/ui/front-end/src/app/admin/devices/device-detail/device-detail.component.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
Due: front-end

Update Produlytics/ui/front-end/src/app/main/date-picker-dialog/date-picker-dialog.component.ts
  Produlytics/ui/front-end/src/app/main/date-picker-dialog/date-picker-dialog.component.ts
Due: front-end

fix documentazione
  Produlytics/ui/front-end/src/app/model/chart/chart.service.ts
Due: front-end

fixes #87 #88 #89 #90 #91 #92
  Produlytics/ui/front-end/src/app/main/modify-pw/modify-pw.component.html
  Produlytics/ui/front-end/src/app/model/login/login.service.ts
Due: front-end

cookie
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
Due: front-end

logout nell'interceptor = scisso ad atomi
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
Due: front-end

XhrInterceptor: rimuovi valori nell'header inutili
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
Due: front-end

Rimuovi la necessità di usare XhrInterceptor
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/security/LoginController.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/security/SecurityConfiguration.java
Due: back-end

riccardo be like: sono ineluttabile christian be like: i'm iron man
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/accounts/business/services/UpdateAccountPasswordService.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/exceptions/BusinessExceptionHandler.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/exceptions/ErrorType.java
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
Due: back-end, front-end

migliore gestione degli errori
  Produlytics/ui/front-end/src/app/guards/authenticated-user-guard.ts
  Produlytics/ui/front-end/src/app/guards/login-guard.ts
  Produlytics/ui/front-end/src/app/layout/toolbar/toolbar.component.ts
  Produlytics/ui/front-end/src/app/main/modify-pw/modify-pw.component.html
  Produlytics/ui/front-end/src/app/main/modify-pw/modify-pw.component.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
Due: front-end

Rimuovi ErrorType.AUTHENTICATION dal back-end e fixa test
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/exceptions/BusinessExceptionHandler.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/exceptions/ErrorType.java
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/integration/AccountTests.java
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/unit/UpdateAccountPasswordServiceTest.java
Due: back-end

XhrInterceptor: carica /login in caso di errore 401 e ritorna EMPTY
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
Due: front-end

Non settare X-Requested-With: XMLHttpRequest
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/security/SecurityConfiguration.java
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.ts
Due: back-end, front-end

fix errore di update
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/business/services/UpdateCharacteristicService.java
  Produlytics/ui/front-end/src/app/admin/devices/device-detail/device-detail.component.ts
Due: back-end, front-end

fixes #84
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/adapters/AdminDeviceAdapter.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/web/AdminsDevicesController.java
Due: back-end

indago
  Produlytics/ui/front-end/src/app/admin/devices/device.data-source.spec.ts
  Produlytics/ui/front-end/src/app/test/device/fake-device.service.ts
Due: front-end

indagato
  Produlytics/ui/front-end/src/app/main/selection/selection.component.spec.ts
  Produlytics/ui/front-end/src/app/test/device/fake-device.service.ts
Due: front-end

intanto questo
  Produlytics/ui/front-end/src/app/guards/guards.spec.ts
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.spec.ts
Due: front-end

alcuni test non vanno ma io non so
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/adapters/AdminCharacteristicAdapter.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/business/domain/Characteristic.java
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/unit/GetCharacteristicsServiceTest.java
Due: back-end

fix test interceptor ty Giacomo
  Produlytics/ui/front-end/src/app/model/http-interceptor/http-interceptor.service.spec.ts
Due: front-end

extra codecoverage
  Produlytics/ui/front-end/src/app/main/modify-pw/modify-pw.component.spec.ts
Due: front-end

Back-end: fix test - passa stringhe come json
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/integration/AdminDevicesTests.java
Due: back-end

Back-end: FindCharacteristicPort::findByDeviceAndName ritorna un Optional
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/adapters/AdminCharacteristicAdapter.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/business/ports/out/FindDetailedCharacteristicPort.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/business/services/InsertCharacteristicService.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/business/services/UpdateCharacteristicService.java
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/unit/InsertCharacteristicServiceTest.java
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/unit/UpdateCharacteristicArchiveStatusServiceTest.java
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/unit/UpdateCharacteristicServiceTest.java
Due: back-end

Back-end: ripensa ai test di UpdateCharacteristicService
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/unit/UpdateCharacteristicServiceTest.java
Due: back-end

Back-end: fix test dopo modifica del put modifica nome macchina
  Produlytics/ui/back-end/src/test/java/it/deltax/produlytics/uibackend/integration/AdminDevicesTests.java
Due: back-end

ez gg bug closes #95
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/repositories/CharacteristicRepository.java
Due: back-end

funziona tutto
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/accounts/adapters/AdminAccountAdapter.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/adapters/AdminCharacteristicAdapter.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/adapters/AdminDeviceAdapter.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/devices/adapters/UnarchivedCharacteristicAdapter.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/devices/adapters/UnarchivedDeviceAdapter.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/repositories/AccountRepository.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/repositories/CharacteristicRepository.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/repositories/DeviceRepository.java
Due: back-end

già che ci sono tolgo non usato
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/repositories/CharacteristicRepository.java
Due: back-end

già che ci sono tolgo non usati
  Produlytics/ui/front-end/src/app/admin/accounts/accounts.component.html
  Produlytics/ui/front-end/src/app/admin/devices/device-detail/device-detail.component.html
  Produlytics/ui/front-end/src/app/admin/devices/devices.component.html
Due: front-end

ultimissima cosa
  Produlytics/ui/front-end/src/app/admin/devices/devices.component.html
Due: front-end

Apply suggestions from code review
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/accounts/adapters/AdminAccountAdapter.java
  Produlytics/ui/back-end/src/main/java/it/deltax/produlytics/uibackend/admins/devices/adapters/AdminCharacteristicAdapter.java
Due: back-end

configurazione in locale
  Produlytics/docker-compose.yml
  Produlytics/ui/back-end/src/main/resources/application.properties
Due: back-end

Path conditions:
  back-end: any of: Produlytics/ui/back-end/
  front-end: any of: Produlytics/ui/front-end/
  api-rilevazioni: any of: Produlytics/api-rilevazioni/
